body {
    min-height: 100vh;
    position: relative;
    background-color: transparent;
}

h1, h2, h3, h4, h5, h6, .title, .navbar-brand {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase; 
    letter-spacing: 1px;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.about-us {
    margin-top: 2rem;
    margin-bottom: 5rem;
    padding: 2rem 1rem;
    position: relative;
}

.content {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 2rem;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 800px;
}

.subtitle {
    margin: 0 auto;
    line-height: 1.6;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

footer {
    position: relative;
    z-index: 1;

}
