.content {
  position: relative;
  z-index: 2;
}

h1, h2, h3, h4, h5, h6, .title, .navbar-brand {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase; 
    letter-spacing: 1px;
}
