.subtitle {
  padding: 2rem 0;
}

#tacho-loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #292929;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.6s ease;
}

.tacho-text {
  color: #ffffff;
  font-size: 14px;
  margin-top: 10px;
  font-family: 'Segoe UI', sans-serif;
}

#aguja {
  transform-origin: 100px 100px;
  animation: revUp 2s ease-in-out forwards;
}

@keyframes revUp {
  0%   { transform: rotate(-90deg); }
  100% { transform: rotate(90deg); }
}

.fotosPerm,
.foto-container img {
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

section.bg-dark.text-white.py-4 h2.fs-3 {
  margin-bottom: 1.5rem;
}

.foto-container {
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 10px;
  margin: 1rem auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.782);
}

.download-btn {
  border: 2px solid #34b1ff;
  color: #ffffff;
  background-color: transparent;
  transition: all 0.3s ease;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 25px;
  padding: 10px 25px;
  font-size: 16px;
}

.download-btn:hover {
  background-color: #34b1ff;
  color: #000;
  transform: scale(1.05);
  box-shadow: 0 0 10px #34b1ff;
}

@media (max-width: 576px) {
  .download-btn {
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 20px;
  }
}

.modal {
  z-index: 1050 !important;
}

.modal-backdrop {
  z-index: 1040 !important;
}

.modal-content {
  background-color: #292929;
  color: #fff;
  border: 1px solid #444;
}

.modal-header {
  border-bottom-color: #444;
}

.btn-contact-insta {
  background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
  color: white;
  border: none;
  font-weight: bold;
}
.btn-contact-insta:hover {
  opacity: 0.9;
  color: white;
}

.btn-contact-insta img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: text-bottom;
}
